@import url(./assets/styles/root.css);
@import url(./assets/styles/reset.css);
/* Layers */
html {
    font-family: var(--font-family);
    font-size: 1.2rem;
    line-height: 2;
    text-wrap: pretty;
    hyphens: auto;
}

body {
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark( var(--b-3-hex), #223a2c);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 0 1rem;
    background-color: white;

    h1 {
        > a { 
            color: var(--color);
            text-decoration: none;
            border-top: var(--border);
            border-bottom: var(--border);
            padding: 0.2rem;
            &:hover {
                color: var(--logo-color-hover);
            }
        }
    }

    nav > ul {
        display: flex;
    }
    li {
        display: inline-block;
        padding: 1rem 1rem;
    }
    a {
        color: var(--c4-hex);
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 7em);
    padding-right: calc(var(--cadre-gutter-x) * 0.5);
    padding-left: calc(var(--cadre-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;

    @media (width>= 576px) {
        max-width: 540px;
    }
    @media (width>= 768px) {
        max-width: 720px;
    }
    @media (width>= 992px) {
        max-width: 960px;
    }
    @media (width>= 1200px) {
        max-width: 1140px;
    }
    @media (width>= 1400px) {
        max-width: 1320px;
    }
}
/* 

    margin-trin :Gère la réduction de marge
    source: https://webkit.org/blog/16854/margin-trim/

*/
article { 
  margin-trim: block;
  font-size: 1.2rem;
  line-height: 1.3;
  padding: 2lh;
  p {
    margin-block: 1lh;
  }
}
@support not (margin-trim: block) {
  article { 
    :first-child {
      margin-block-start: 0;
    }
    :last-child {
      margin-block-end: 0;
    }
  }
}