:root {
    color-scheme: light dark;
    --red: #000;
    --cadre-gutter-x: 1.5rem;
    --cadre-gutter-y: 0;
    /* Couleurs */
    --c1-hex:  #8C031C;
    --c2-hex:  #F2921D ;
    --c3-hex:  #D99B77;
    --c4-hex:  #A63E26 ;
    --c5-hex:  #400B0B ;
    /* Font */
    --font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: var(--font-family);
    src: local(var(--font-family));
}

@view-transition {
    navigation: auto;
}

/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img,
video,
iframe {
  max-inline-size: 100%;
  block-size: auto;
}
/* Layers */
html {
    font-family: var(--font-family);
    font-size: 1.2rem;
    line-height: 2;
    text-wrap: pretty;
    hyphens: auto;
}

body {
    color: light-dark(#333b3c, #efefec);
    background-color: light-dark(#efedea, #223a2c);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
    padding: 0 1rem;
    background-color: white;

    h1 > a {
        color: var(--c1-hex);
        text-decoration: none;

        &:hover {
            color: var(--c4-hex);
        }
    }

    nav > ul {
        display: flex;
    }
    li {
        display: inline-block;
        padding: 1rem 1rem;
    }
    a {
        color: var(--c4-hex);
    }
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 7em);
    padding-right: calc(var(--cadre-gutter-x) * 0.5);
    padding-left: calc(var(--cadre-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;

    @media (width>= 576px) {
        max-width: 540px;
    }
    @media (width>= 768px) {
        max-width: 720px;
    }
    @media (width>= 992px) {
        max-width: 960px;
    }
    @media (width>= 1200px) {
        max-width: 1140px;
    }
    @media (width>= 1400px) {
        max-width: 1320px;
    }
}